# Xilinx ISE/Vivado Design Suite Files
*.wcfg
*.log
*.xmsgs
*.cmd
*.gise
*.xise
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.txt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.xml
*.exe
*.wdb
*.ini
*.nlf
*.sdf
*_timesim.v
*.xpr
*/_ngo/
*/iseconfig/
*/isim/
*/xlnx_auto_0_xdb/
*/xst/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
